
* {
    
    /* font-family: 'Sora', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardHighlight {
    min-height: 100%;
}

.subtitle {
    font-weight: bolder;
    font-size: large;
}

.courseCard {
    margin-bottom: 25px;
}



/* Landing Page */

.navbar-brand-img {
    color: white;
    text-decoration: none;
    background-repeat: no-repeat;
    transition: background-size 275ms cubic-bezier(.5,0,.5,0);
    background-size: 100% 1px;
}

.landing-logoB{
	overflow: hidden;
	top:1%;
	position: absolute;
	height:8rem;
	width: 8rem;
}

.landing-logo {
	z-index: 10;
	color: white;
	top:1%;
	position: absolute;
	height:8rem;
	width: 8rem;
}

.landing-logo:hover {
	transition: all 0.4s ease-in-out;
	opacity: 0.2;
}

.login-buttonB{
    overflow: hidden;
	top:50%;
	position: absolute;
	height:1.7rem;
    right: 20px;
}

.login-button{
    z-index: 10;
	color: white;
	top:50%;
	position: absolute;
	height:1.7rem;
    right: 20px;
}

.login-button:hover{
    transition: all 0.4s ease-in-out;
	opacity: 0;
}


.navbar-nav {
	position: absolute;
	top: 50%;
	right:3%;
    font-size: 1rem;
}

.nav-item, .nav-link {
	text-decoration: none;
	color: black;
	font-size: 1rem;
	padding: 0px;
	margin: 0px;
}

.nav-link {
    padding: 0 !important;
    font-weight: 300;
    color: #E5106D;
}

.landing-video {
	position: relative;
	height: 100vh;
	width: 100%;
    object-fit: cover;
}

#myVideo {
	position: relative;
 	/*background: url(../images/landing-img2.gif);*/
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: fixed;
	height: 100vh;
	width: 100%;
}

.landing-text {
	color: var(--red);
	bottom: 40%;
	left: 30px;
	right: 10px;
	position: absolute;
	font-weight: 100;
	font-size: 5vw;
	line-height: 5vw;
}

.landing-button{
    border-radius: 0 !important;
    bottom: 30%;
	left: 35px;
	right: 8px;
	position: absolute;
}

.landing-text-img {
    height:3.7rem;
}